altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
keyboard==0.13.5
mouse==0.7.1
pefile==2023.2.7
Pillow>=9.4.0,<10.0.0
PyDirectInput==1.0.4
pygame>=2.6.0
pyinstaller>=6.0.0
pyinstaller-hooks-contrib>=2024.0
pywin32-ctypes>=0.2.1
requests==2.28.2
screeninfo==0.8.1
six==1.16.0
tkhtmlview==0.2.0
urllib3==1.26.15
